<div class="announcement{% if section.settings.announcement_closable %} announcement--closeable announcement--closed{% endif %}">
   
  <a href="" class="announcement__link track_order">TRACK ORDER</a>
   {% comment %}
  {%- if section.settings.announcement_link != blank -%}
    <a href="{{ section.settings.announcement_link }}" class="announcement__link">
  {%- endif -%}

    <span class="announcement__text{% unless section.settings.announcement_closable %} announcement__text--open{% endunless %}" data-text="{{ section.settings.announcement_text | strip_html | handle }}">
      {{ section.settings.announcement_text | strip_html }}
    </span>

  {%- if section.settings.announcement_link != blank -%}
    </a>
  {%- endif -%}
  {% endcomment %}
  {% if section.blocks.size > 0 %}
    <div class="scrolling_announcement">
      <div class="scrolling-text scrolling-text--{{ section.id }}">
        <div class="scrolling-text__inner {% if section.settings.direction == "top-bottom" %}topToBottomSlider{% endif %} scrolling-text__inner--{{ section.settings.direction }}" aria-hidden="true" tabindex="0">
          {% render 'announcement-scrolling-text', section: section %}
          {% comment %}{% render 'announcement-scrolling-text', section: section %}
          {% render 'announcement-scrolling-text', section: section %}
          {% render 'announcement-scrolling-text', section: section %}
          {% render 'announcement-scrolling-text', section: section %}{% endcomment %}
         </div>
      </div>
    </div>
  {% endif %}

  <div class="ann-social-links">
    {% render 'social-icons', additional_classes: 'announcement_social footer__social'%}
  </div>
  
  {%- if section.settings.announcement_closable -%}
    <button type="button" class="text-link announcement__close">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><title>icon-X</title><path d="m19 17.61 27.12 27.13m0-27.12L19 44.74"/></svg>
      <span class="icon__fallback-text">{{ 'general.accessibility.close' | t | json }}</span>
    </button>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "t:sections.header.settings.header_announcement_bar",
    "settings": [
      {
        "type": "text",
        "id": "announcement_text",
        "label": "t:sections.header.settings.announcement_text.label",
        "default": "Free shipping and returns",
        "info": "t:sections.header.settings.announcement_text.info"
      },
      {
        "type": "url",
        "id": "announcement_link",
        "label": "t:sections.header.settings.announcement_link.label"
      },
      {
        "type": "checkbox",
        "id": "announcement_closable",
        "label": "t:sections.header.settings.announcement_closable.label"
      },
      {
      "type": "checkbox",
      "id": "show_track_order",
      "label": "Show an track my order"
    },
    {
      "type": "text",
      "id": "track_order_text",
      "label": "Track my order text",
      "default": "Track my order"
    },
    {
      "type": "url",
      "id": "track_order_link",
      "label": "Track my order link"
    },
    {
      "type": "checkbox",
      "id": "show_studio",
      "label": "Show an Charmacy studio"
    },
    {
      "type": "text",
      "id": "studio_text",
      "label": "Studio text",
      "default": "Charmacy Studio"
    },
    {
      "type": "url",
      "id": "studio_link",
      "label": "Studio link"
    },
    {
    "type": "select",
    "id": "direction",
    "label": "t:sections.marquee.settings.direction.label",
    "default": "left",
    "options": [
        {
          "label": "t:sections.marquee.settings.direction.options.left.label",
          "value": "left"
        },
        {
          "label": "t:sections.marquee.settings.direction.options.right.label",
          "value": "right"
        },
        {
          "label": "Top to bottom",
          "value": "top-bottom"
        }
      ]
    },
    {
      "type": "range",
      "id": "speed",
      "label": "t:sections.marquee.settings.speed.label",
      "default": 100,
      "min": 10,
      "max": 200,
      "step": 10,
      "unit": "s"
    }
    ],
    "blocks": [
    {
      "type": "announcement_text",
      "name": "t:sections.header.settings.announcement_text.label",
      "settings": [
        {
          "type": "html",
          "id": "announcement_text",
          "label": "t:sections.header.settings.announcement_text.label",
          "default": "Free shipping and returns",
          "info": "t:sections.header.settings.announcement_text.info"
        },
        {
          "type": "url",
          "id": "announcement_link",
          "label": "t:sections.header.settings.announcement_link.label"
        }
      ]
    }
  ]
  }
{% endschema %}
